* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    background-color: black;
    z-index: 2;
}

#everythang{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 150%;
    z-index: 3;
}


h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    text-align: center;
    letter-spacing: 3px;
    text-transform: lowercase;
    margin-top: 10%;
    position: relative;
    background-color: transparent;
    z-index: 3;

    color: tomato;
    filter: drop-shadow(2px 2px 2px red);
}

    /* h1:hover{
        color: tomato;
        filter: drop-shadow(2px 2px 2px red);
    } */

    /* #titles:hover .spotlight{
        width: 50px;
        height: 50px;
        transition: 0.3s;
    } GONNA TRY THIS IN JS INSTEAD*/

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 3px;
    text-transform: lowercase;
    margin-top: 5%;
    margin-bottom: 10%;
    z-index: 5;
    position: relative;
    background-color: transparent;
}

h3{
    text-align: center;
    letter-spacing: 3px; 
} 
/* I DON'T THINK THESE EXIST ANYMORE */


.date, .time, .location, .info{
    color: lavender;
    z-index: 5;
    position: relative;
    background-color: transparent;
}

.external_links{
    visibility: hidden;
}

.curveText{
    fill: tomato;
    font-size: 0.5rem;
    z-index: 3;
    position: fixed;
    /* letter-spacing: 0.1rem; */
}
/* doesn't work rn */

.curves:hover textPath{
    fill: rgb(205, 78, 56);
    font-size: 1.3rem;
    transition: 0.3s;
  }

.curves{
    z-index: 5;
    position: relative;
    background-color: transparent;
    padding-top: 100px;
    margin-top: -100rem;
    margin-bottom: 5rem;
}

path{
    stroke: black;
    visibility: hidden;
    position: fixed;
    z-index: 3;
}

.curvesDate{
    z-index: 4;
    position: relative;
    background-color: transparent;
    bottom: 100em;
    /* margin-left: -8.2rem;
     */
}

.curveDateText{
    fill: lavender;
    font-size: 0.5rem;
    z-index: 3;
    position: fixed;
    /* letter-spacing: 0.1rem; */
}

.curvesTime{
    z-index: 4;
    position: relative;
    background-color: transparent;
    bottom: 135em;
    /* margin-left: -8.2rem;
     */
}

.curvesLocation{
    z-index: 4;
    position: relative;
    background-color: transparent;
    bottom: 170em;
    /* margin-left: -8.2rem;
     */
}

#AntherBio{
    color: lavender;
    font-size: 17pt;
    max-width: 800px;
    position: relative;
    z-index: 7;
    left: 50%;
    line-height: 23pt;
}


/* .spotlight{
    width: 15rem;
    height: 10rem;
    background-color:antiquewhite;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    padding-top: 100px;
    margin-bottom: 100rem;
    transform: translate(-50%, -50%);
} */